.App {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


img{
  height: 200px;
  width: 200px;
}

.Header{
  background-color: pink;
  height: 300px;
  width: 100%;
}

